<div class="container grid-lg">
  <div class="columns">
    <div class="column">

      <h1>Editing Customer: <code>1</code></h1>

      <hr>

      <!-- First Name -->
      <div class="form-group">
        <label class="form-label" for="first-name">First Name</label>
        <input class="form-input" type="text" id="first-name" placeholder="First Name">
      </div>

      <!-- Last Name -->
      <div class="form-group">
        <label class="form-label" for="last-name">Last Name</label>
        <input class="form-input" type="text" id="last-name" placeholder="Last Name">
      </div>

      <!-- Gender -->
      <div class="form-group">
        <label class="form-label">Gender</label>
        <label class="form-radio">
          <input type="radio" name="gender">
          <i class="form-icon"></i> Man
        </label>
        <label class="form-radio">
          <input type="radio" name="gender">
          <i class="form-icon"></i> Woman
        </label>
      </div>

      <!-- Birthday -->
      <div class="form-group">
        <label class="form-label" for="birthday">Birthday</label>
        <input class="form-input" type="date" id="birthday" placeholder="Birthday">
      </div>

      <!-- Last Contact -->
      <div class="form-group">
        <label class="form-label" for="last-contact">Last Contact</label>
        <input class="form-input" type="date" id="last-contact" placeholder="Last Contact">
      </div>

      <!-- Lifetime Value -->
      <div class="form-group">
        <label class="form-label" for="lifetime-value">Lifetime Value</label>
        <input class="form-input" type="text" id="lifetime-value" placeholder="Lifetime Value">
      </div>

      <br />

      <div class="text-center">
        <button type="button" class="btn btn-primary">Save</button>
      </div>

    </div>
  </div>
</div>
