<div class="container">
  <div class="columns">

    <!-- Customer Tile Wrapper -->
    <div class="column col-sm-12 col-lg-6 col-4" *ngFor="let customer of customers">

      <!-- Customer Tile Wrapper / Customer Tile -->
      <div class="tile" [ngClass]="{ 'app-man-tile': customer.gender === 'm', 'app-woman-tile': customer.gender === 'w' }">

        <!-- Customer Tile / Avatar -->
        <div class="tile-icon">
          <figure class="avatar avatar-xl">
            <img src="https://picsum.photos/512?random={{ customer.name.first }}" alt="Avatar">
          </figure>
        </div>

        <!-- Customer Tile / Content -->
        <div class="tile-content">

          <!-- Content / Name -->
          <div class="tile-title">
            <span>{{ customer.name.first }}</span>
            <span>{{ customer.name.last }}</span>
          </div>

          <!-- Content / Details -->
          <div class="tile-subtitle text-gray">

            <!-- Details / ID -->
            <div>
              <span>ID:</span>
              <code>{{ customer.customerID }}</code>
            </div>

            <!-- Details / Birthday -->
            <div>
              <span>Birthday:</span>
              <span>{{ customer.birthday | date }}</span>
            </div>

            <!-- Details / Lifetime Value -->
            <div>
              <span>Lifetime Value:</span>
              <span>{{ customer.customerLifetimeValue }}</span>
            </div>

          </div>

        </div>

        <!-- Customer Tile / Actions -->
        <div class="tile-action">

          <!-- Actions / Edit -->
          <button [routerLink]="[customer.customerID]" type="button" class="btn btn-sm btn-primary">
            <i class="icon icon-edit"></i>
            <span>Edit</span>
          </button>

          <!-- Actions / Delete -->
          <button (click)="deleteCustomer(customer.customerID)" type="button" class="btn btn-sm btn-link tooltip tooltip-bottom" data-tooltip="Delete">
            <i class="icon icon-delete"></i>
          </button>

        </div>

      </div>

    </div>

  </div>
</div>
