.app-tile {
  margin-bottom: 0.4rem;
  padding: 0.4rem;
}

.app-man-tile {
  @extend .app-tile;

  background: rgba(186, 222, 228, 0.25);
}

.app-woman-tile {
  @extend .app-tile;

  background: rgba(245, 197, 205, 0.25);
}
