<div class="container">
  <div class="columns">

    <!-- Customer Tile Wrapper -->
    <div class="col-4 col-sm-12 col-lg-6 column" *ngFor="let customer of customers">

      <!-- Customer Tile Wrapper / Customer Tile -->
      <div class="tile" [ngClass]="{ 'app-man-tile': customer.gender === 'm', 'app-woman-tile': customer.gender === 'w' }">

        <!-- Customer Tile / Avatar -->
        <div class="tile-icon">
          <figure class="avatar avatar-xl">
            <img alt="Avatar" src="https://picsum.photos/512?random={{ customer.name.first }}">
          </figure>
        </div>

        <!-- Customer Tile / Content -->
        <div class="tile-content">

          <!-- Content / Name -->
          <div class="tile-title">
            <span>{{ customer.name.first }}</span>
            <span>{{ customer.name.last }}</span>
          </div>

          <!-- Content / Details -->
          <div class="text-gray tile-subtitle">

            <!-- Details / ID -->
            <div>
              <span>ID:</span>
              <code>{{ customer.customerID }}</code>
            </div>

            <!-- Details / Birthday -->
            <div>
              <span>Birthday:</span>
              <span>{{ customer.birthday | date }}</span>
            </div>

            <!-- Details / Last Contact -->
            <div>
              <span>Last Contact:</span>
              <span>{{ customer.lastContact | date }}</span>
            </div>

            <!-- Details / Lifetime Value -->
            <div>
              <span>Lifetime Value:</span>
              <span>{{ customer.customerLifetimeValue }}</span>
            </div>

          </div>

        </div>

        <!-- Customer Tile / Actions -->
        <div class="tile-action">

          <!-- Actions / Edit -->
          <button class="btn btn-sm btn-primary" [routerLink]="[customer.customerID]" type="button">
            <i class="icon icon-edit"></i>
            <span>Edit</span>
          </button>

          <!-- Actions / Delete -->
          <button class="btn btn-link btn-sm tooltip tooltip-bottom" (click)="deleteCustomer(customer.customerID)" data-tooltip="Delete" type="button">
            <i class="icon icon-delete"></i>
          </button>

        </div>

      </div>

    </div>

  </div>
</div>
